snippet laag "Description" b
# Lesson at a Glance

### Lesson Overview
$1

### Major Concepts
- $2

### Objectives
- $3

## In Advance

### Materials

### Preparation
endsnippet

snippet ![] "Picture from file" A
![$1]($2)
endsnippet
